.profile-cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 80%;
    margin: 1rem 3rem;
    padding: 0 1rem;
    position: fixed;
    top: -16px;
    right: 0;
    z-index: 999;
    background-color: #F9F9F9;
    padding-top: 1rem;
}

.dark {
    background-color: #454545;
    color: #D8D8D8;
}

.logout {
    padding: 0.5rem 1rem;
    font-weight: bold;
    background-color: blueviolet;
    color: #fff;
    border: none;
    cursor: pointer;
}

.profile-link:focus,
.profile-link:hover,
.profile-link:visited,
.profile-link:link,
.profile-link:active {
    text-decoration: none;
    color: #fff;
}

.right-profile {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.7rem;
}

.profile-cont img {
    height: 50px;
    cursor: pointer;
}

.userName {
    color: blueviolet;
}

.profile-cont p {
    text-align: right;
    font-weight: bold;
}

.logout-p {
    display: inline-block;
}

@media only screen and (max-width: 850px) {
    .profile-cont {
        margin: 1rem 0.5rem;
    }
}

@media only screen and (max-width: 550px) {
    .profile-cont {
        margin: 1rem 0.2rem;
    }
    .logout {
        padding: 0.5rem 0.5rem;
    }
    .logout-p {
        display: none;
    }
}