.profile-cont {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 1rem;
    margin-left: 80px;
    width: 80%;
    padding: 0 1rem;
    position: fixed;
    top: -16px;
    right: 0;
    z-index: 999;
    background-color: #F9F9F9;
    padding-top: 1rem;
}

.profile-link:focus,
.profile-link:hover,
.profile-link:visited,
.profile-link:link,
.profile-link:active {
    text-decoration: none;
    color: #123;
}

.right-profile {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.7rem;
}

.profile-cont img {
    height: 50px;
    cursor: pointer;
}

.profile-cont p {
    text-align: right;
    font-weight: bold;
}

.profile-ul {
    transition: all ease 0.3s;
    position: relative;
    cursor: pointer;
}

.profile-ul .gear {
    transition: all ease 0.3s;
}

.profile-ul .gear:active {
    transform: rotate(360deg);
}

.profile-ul .profile-inner-ul {
    list-style: none;
    position: absolute;
    bottom: -370%;
    background-color: #e5e0e0;
    padding: 0.5rem 1rem;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    z-index: 500;
    transition: all ease 0.3s;
    font-weight: bold;
}

.profile-ul .profile-inner-ul li {
    margin: 0.3rem auto;
    transition: all ease 0.2s;
    width: 90%;
}

.profile-ul .profile-inner-ul li i {
    margin: 0 0.3rem;
}

.profile-ul .profile-inner-ul li:hover {
    transform: scale(0.96);
    border-bottom: 1px solid #000;
}