.games-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 1100px) {
    .games-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .games-cards {
        grid-template-columns: 1fr;
    }
}